{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Language Model</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lm/css/main.css' %}">
</head>
<body>
    <nav>
        <a href="">Language Modelling Kelompok Bams</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>