{% extends 'lm/base.html' %}

{% block content %}
    <div class="content">
        <h1>Bigram dan Perplexity</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn" type="submit">Cek</button>
        </form>
        <div class="hasil">
            <div class="big-perp">
                <textarea class="textar-bigperp" name="" id="" cols="30" rows="10" readonly>{% if bigram %}{% for sent in bigram %}{{sent}}{% endfor %}{% endif %}</textarea>
                <input type="text" value="{% if perplex %}{{perplex}}{% endif %}" readonly>
            </div>
            <a href="{% url 'lm-home' %}"><button class="btn">Kembali</button></a>
        </div>
    </div>
{% endblock %}